<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class='container'>
      <div class='realtors-background'></div>
      <% if (blog.img) { %>
      <img src="/uploads/<%= blog.img %>" alt="<%= blog.title %> ">
      <% } %>
      <h2 class='blog-article'> <%=blog.title%> </h2>
      <h4 class='blog-article' onclick="location.href='/realtors/<%= author._id %>'"><%= author.name %></h4>
      <h6><%=blog.publishDate.toLocaleString('en-US', {timeZone: "UTC", day: "2-digit", month: "short", year: "numeric"})%></h6>
      <p><%=blog.blogPost%> </p>
  
      <% if (user) { %>
        <% if (user.name == author.name) { %>
          <form action='/blogs/<%= blog._id %>?_method=DELETE' method='POST'>
            <button id='submit' type='submit' class='btn buttons-custom'>Remove Post</button>
          </form>
          <form action='/blogs/<%= blog._id %>/edit' method='GET'>
            <button id='submit' type='submit' class='btn buttons-custom'>Edit Post</button>
          </form>    
          <% } %>
      <% } %>
      
    <div class="push"></div>
  </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>