<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class='container'>
        <h2 class='blog-article'> <%=blog.title%> </h2>
                    <h4 class='blog-article' onclick="location.href='/realtors/<%= author._id %>'"><%= author.name %></h4>
                    <h6><%=blog.publishDate.toLocaleString('en-US', {timeZone: "UTC", day: "2-digit", month: "short", year: "numeric"})%></h6>
                    <p><%=blog.blogPost%> </p>
                

    <% if (user) { %>
      <% if (user.name == author.name) { %>
        <form action='/blogs/<%= blog._id %>?_method=DELETE' method='POST'>
          <input type='submit' value='Remove Listing'>
        </form>
        <form action='/blogs/<%= blog._id %>/edit' method='GET'>
          <input type='submit' value='Edit Post'>
        </form>    
        <% } %>
    <% } %>
  </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>