<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
</head>
<body>
  <%- include('../partials/nav.ejs') %>
  <div class='container'>
    <div class='form-screen'>
    <h1>Edit A House Listing</h1>
    <form action='/listings/<%= listing._id%>?_method=PUT' method='POST'>
      <div class='form-group col-md-6'>
        <label for='realtor'>Listing Realtor:</label>
        <select class='form-control' id='realtor' name="realtor">
          <% realtors.forEach(realtor => { %>
          <option value='<%= realtor._id %>'><%= realtor.name %></option>
          <% }) %> 
        </select>
      </div>
        <div class='form-group col-md-6'>
            <label for='address'>Address:</label>
            <input type='text' class='form-control' id='address' name='address'
            value='<%=listing.address%>' >
        </div>
        <div class='form-group col-sm-6'>
          <label for='city'>City:</label>
          <select class='form-control' id='city' name='city'>
            <% cities.forEach(city => { %>
            <option value='<%= city._id %>'><%= city.name %></option>
            <% }) %> 
          </select>
        </div>
        <div class='form-group col-md-6'>
        <label for='price'>Price:</label>
          <input type='number' class='form-control' id='price' name='price' 
          value='<%=listing.price%>'>
        </div>
        <div class='form-group col-md-6'>
          <label for='bedrooms'>Number of Bedrooms:</label>
          <input type="number" class='form-control' id='bedrooms' name='bedrooms'
          value='<%=listing.bedrooms%>'>
        </div>
        <div class='form-group col-md-6'>
          <label for='bathrooms'>Number of Bathrooms:</label>
            <input type="number" class="form-control" id='bathrooms' name='bathrooms'
            value='<%=listing.bathrooms%>'>
        </div>
          <div class='form-group col-md-6'>
            <label for='size'>Size (sq.ft.):</label>
            <input type='number' class='form-control' id='size' name='size'
            value='<%=listing.size%>'>
          </div>
          <div class='form-group col-sm-6'>
            <label for='about'>About:</label>
            <input type='textarea' rows class='form-control' id='about' name='about'
            value='<%=listing.about%>'>
          </div>
          <div class='col text-center'>
            <button type='submit' class='btn btn-primary'>Edit Listing</button>
          </div>
      </form>
    </div>
  </div>
</body>
</html>