<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
</head>
<body>
    <%- include('../partials/nav.ejs') %>

    <h1>Welcome!</h1>
    <h3>What Would You Like to Do?</h3>
    <div class="new-listing">
        <button><a href='/listings/new'>Add a New Listing</a></button>
    </div>
    
    <% listings.forEach(listing => { %>
        <ul class="house-listing">
            <li><%= listing.address %></li>
            <li><%= listing.city %></li>
            <% const price = (listing.price) %>
            <li><%= '$' + price.toFixed(0) %> </li>
        </ul>

        <form action='/listings/<%= listing._id %>?_method=DELETE' method='POST'>
            <input type='submit' value='Remove Listing'>
        </form>
        <form action='/listings/<%= listing._id %>/edit' method='GET'>
            <input type='submit' value='Edit Listing'>
        </form>
    <% }) %>
    <% realtors.forEach(realtor => { %>
        <form action='/realtors/<%= realtor._id %>?_method=DELETE' method='POST'>
            <input type='submit' value='Remove <%=realtor.name%>'>
        </form>
    
    <form action='/realtors/<%= realtor._id %>/edit' method='GET'>
        <input type='submit' value='Edit <%=realtor.name%>'>
    </form>
    <% }) %>
    
    <div>
        <button><a href='/'>Logout</a></button>
    </div>
</body>
</html>