<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class='container'>

        <h1>Welcome <%=currentUser.name %>!</h1>

        <h3 class='text-center'>What Would You Like to Do?</h3>
        <div class='new-listing col text-center'>
            <button><a href='/listings/new'>Add a New Listing</a></button>
        </div>
            
        <% listings.forEach(listing => { %>
            <ul class="house-listing">
                <li><%= listing.address %></li>
                <li><%= listing.city %></li>
                <% const price = (listing.price) %>
                <li><%= '$' + price.toFixed(0) %> </li>
            </ul>
        
            <form action='/listings/<%= listing._id %>?_method=DELETE' method='POST'>
                <input type='submit' value='Remove Listing'>
            </form>
            <form action='/listings/<%= listing._id %>/edit' method='GET'>
                <input type='submit' value='Edit Listing'>
            </form>
        <% }) %>
        <div class='update-realtor col text-center'>
            <form action='/realtors/<%= currentUser._id %>?_method=DELETE' method='POST'>
                <input type='submit' value='Remove <%=currentUser.name%>'>
            </form>
            
            <form action='/realtors/<%= currentUser._id %>/edit' method='GET'>
                <input type='submit' value='Edit <%=currentUser.name%>'>
            </form>
        </div>
        <div class='col text-center'>
            <button><a href='/logout'>Logout</a></button>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>