<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/header.ejs") %>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="container">
    <div class='index-background'></div>

        <div class='row'>
          <div class='col-2'>
            <h5 class='listing bold-text'>VanFord Blog</h5>
            <% for( let i = blogs.length - 1; i > blogs.length - 3; i--) { %>
              <% if (blogs[i]) { %>
            <h6><%= blogs[i].publishDate.toLocaleString('en-US', 
              {timeZone: "UTC", day: "2-digit", month: "short", year: "numeric"}) %>
              </h6>
            <h3 class='blog-article'><%= blogs[i].title %></h3>
            <p><%= blogs[i].synopsis %></p>
            <p><a href='/blogs/<%=blogs[i]._id%>'>Read More Here</a></p>
            <% } %>
            <% } %>
          </div>

          <div class='col-8'>
            <h5 class='listing bold-text'>Featured Listing</h5>
            <% if (house) { %>
            <div class='landing-images' 
              onclick="location.href = '/houses/<%=house._id%>'">
              <img class="img-fluid d-block mx-auto" src='<%=house.img %>' 
              alt='house-id#-<%=house._id%>'></div>
            <h4 class='listing'><%= house.address %></h4>
    
            <h5 class='listing'> <% cities.forEach(city => { %>
                  <% if (house.city == city._id.toString()) { %>
                    <%= city.name %>
                  <% } %>
                <% }) %></h5>
            <% const price = (house.price) %>
            <h5 class='listing'><%= '$' + price.toFixed(0) %></h5>
            <% } %>
          </div>

          <div class='col-2'>
            <h5 class='listing bold-text'>Realtor of the Month</h5>
            <% if(realtor) { %>
              <div class='landing-images' onclick="location.href = '/realtors/<%= realtor._id %>'">
                <img class='img-fluid featured' src='/uploads/<%= realtor.img %>' alt='realtor-id#-<%=realtor._id%>'/>
              </div>
              
            <h6 class='listing'><%= realtor.name %></h6>
            <% } %> 
          </div>
      </div>   
    <div class="push"></div>
  </div>
  
  <%- include('./partials/footer.ejs') %>
</body>
</html>