<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/header.ejs") %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
        <div class='landing-page'>
            <div class='white-space'>
                
            </div>
            <div class='house-billboard'>
                <h5 class='listing'>Listing of the Day</h5>
                <% if (house) { %>
                <div class='landing-images' onclick="location.href = '/houses/<%=house._id%>'">
                    <img class="landing-picture" src='<%=house.img %>'>
                </div>
                <h4 class='listing'><%= house.address %></h4>
                <h5 class='listing'><%= house.city %></h5>
                <% const price = (house.price) %>
                <h5 class='listing'><%= '$' + price.toFixed(0) %></h5>
                <% } %>
            </div>
            <div class='realtor-month'>
                <h5 class='listing'>Realtor of the Month</h5>
                <% if(realtor) { %>
                    <div class='landing-images' onclick="location.href = '/realtors/<%= realtor._id %>'">
                        <img class='realtor-image' src='/uploads/<%= realtor.img %>' alt='realtor-id#-<%=realtor._id%>'/>
                    </div>
                    
                <h6 class='listing'><%= realtor.name %></h6>
                <% } %>    
            </div>
        </div>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>