<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header.ejs') %>
</head>
<body>
  <%- include('../partials/nav.ejs') %>
  <div class='container'>
    <section class="city-show-box">
      <div class='text-overlay'>
        <h1 class='city-text'> <%=city.name%> </h1>
      </div>
      <div class=" photo row text-center">
        <img id='city-image' src='/uploads/<%=city.img%>' alt="<%= city.name %>">
      </div>
    </section>
    
    <p> <%=city.bio%> </p>
    <h4 class='city-show'>Population: <%=city.population%> </h4>
    
    <h5>Top Attractions:</h5>
    <ul id='attractions'>
      <% city.keyAttractions.forEach(attraction => { %>
        <li><%= attraction %> </li>
      <% }) %>
    </ul>
    
    <div class="city-listing-box">
      <% listings.forEach(house => { %>
        <figure class="citys-listings" onclick="location.href='/houses/<%= house._id %>'">
          <img src="/uploads/<%= house.img %>" alt="house">
          <figcaption>
            <ul>
              <li><%= house.address %></li>
              <% const price = (house.price) %>
              <li><%= '$' + price.toFixed(0) %></li>
            </ul>
          </figcaption>
        </figure>
      <% }); %>
    </div>
    <div class="push"></div>
  </div>
  
  <%- include('../partials/footer.ejs') %>
</body>
</html>