<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class='container'>
        <h2> <%=city.name%> </h2>
            <div class='show-house'>
                <img src='/uploads/<%= listing.img %>' alt='house-id#-<%=listing._id%>'>
                <div>
                    <h4>About <%=city.name %>:</h4>
                    <h6>Population: <%=city.population%> </h6>
                    <h6>Top Attractions:</h6>
                    <ul id='attractions'>
                    </ul>
                    <p>Bio: <%=city.bio%> </p>
                </div>
            </div>
    </div>
    
    
    <%- include('../partials/footer.ejs') %>
</body>
</html>