<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/header.ejs") %>
</head>
<body>
  <%- include('../partials/nav.ejs') %>

  <h1>Edit: <%= foundRealtor.name %></h1>
  <form action="/realtors/<%= foundRealtor._id %>?_method=PUT" method="POST">
    <div>
      Name: <input type="text" id="name" name="name" value="<%= foundRealtor.name %>">
    </div>
    <div>
      Phone Number: <input type="text" id="phone" name="phone" value="<%= foundRealtor.phone %>">
    </div>
    <div>
      E-Mail: <input type="email" id="e-mail" name="email" value="<%= foundRealtor.email %>">
    </div>
    <div>
      Address: <input type="text" id="address" name="address" value="<%= foundRealtor.address %>">
    </div>
    <div>
      Bio: <input type="textarea" id="bio" name="bio" value="<%= foundRealtor.bio %>">
    </div>
    <button type="submit">Submit</button>
  </form>
</body>
</html>