<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/header.ejs") %>
</head>
<body>
  <%- include('../partials/nav.ejs') %>

  <h1>Our Team</h1>
  <ul>
    <% allRealtors.forEach((realtor) => { %>
      <div class='realtor-display' onclick="location.href = 'realtors/<%= realtor._id %>'">
            <img src='/uploads/<%= realtor.img %>' alt='realtor-id#-<%=realtor._id%>'>
                <%= realtor.name %><br>
                <%= realtor.title %>
            </span>
        
    </div>
    <% }) %>
  </ul>

  <%- include('../partials/footer.ejs') %>
</body>
</html>