<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/header.ejs") %>
</head>
<body>
  <%- include('../partials/nav.ejs') %>
  <div class='container'>
    <% if (realtor.phone) var phoneNumber = realtor.phone.toString().split('') %>
    <% if (realtor.address) var address = realtor.address.split(' ') %>

    <h1><%= realtor.name %></h1>
  <div class="show-page">
    <div class="realtor-info">
      <h4><%= realtor.name %>'s Bio:</h4>
      <p class="realtor-bio"><%= realtor.bio %> </p>
    </div>
    <div class="realtor-img-box">
      <figure>
        <img src="/uploads/<%= realtor.img %>"  class="realtor-show" alt="<%= realtor.name %>">
        <figcaption>
          <ul>
            <% if (phoneNumber) { %>
              <li><i class="fas fa-phone"></i> <a href="tel:<%= realtor.phone %>">
                (<%= phoneNumber[0]%><%=phoneNumber[1]%><%=phoneNumber[2]%>)
                <%= phoneNumber[3]%><%= phoneNumber[4]%><%= phoneNumber[5]%> - 
                <%= phoneNumber[6]%><%= phoneNumber[7]%><%= phoneNumber[8]%><%= phoneNumber[9]%>
              </a></li>
            <% } %>
            <li><i class="far fa-envelope"></i> <a href="mailto:<%= realtor.email %>"><%= realtor.email %></a></li>
            <% if (address) { %>
              <li><a href="http://maps.google.com/maps?q=<%= address[0] %>+<%= address[1] %>+<%= address[2] %>"><%= realtor.address %></a></li>
            <% } %> 
          </ul>
        </figcaption>
      </figure>
      
    </div>
  
    <div class="listing-box properties-box">
      <h5 class='col text-center'>NEWEST LISTINGS</h5>
        <% houses.forEach(house => { %>
          <figure class="realtors-listings" onclick="location.href='/houses/<%= house._id %>'">
            <img src="/uploads/<%= house.img %>" alt="house">
            <figcaption>
              <ul>
                <li><%= house.address %></li>
                <li> <% cities.forEach(city => { %>
                  <% if (house.city == city._id.toString()) { %>
                      <%= city.name %>
                  <% } %>
              <% }) %></li>
                <% const price = (house.price) %>
                <%= '$' + price.toFixed(0) %>
              </ul>
            </figcaption>
          </figure>
        <% }); %>
    </div>
  </div>
  <div class="push"></div>
  </div>
<%- include('../partials/footer.ejs') %>
</body>
</html>