<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/header.ejs") %>
</head>
<body>
  <%- include('../partials/nav.ejs') %>

  <h1><%= realtor.name %></h1>
  <div>
    <ul>
      <li><%= realtor.phone %></li>
      <li><%= realtor.email %></li>
      <li><%= realtor.address %></li>
    </ul>
  </div>
  <p><%= realtor.bio %> </p>
</body>
</html>