<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= realtor.name %></title>
</head>
<body>
  <h1><%= realtor.name %></h1>
  <div>
    <ul>
      <li><%= realtor.phone %></li>
      <li><%= realtor.email %></li>
      <li><%= realtor.address %></li>
    </ul>
  </div>
  <p><%= realtor.bio %> </p>
</body>
</html>