<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/header.ejs") %>
</head>
<body>
  <%- include('../partials/nav.ejs') %>
  <div class='container'>
    <div class='realtors-background'></div>
    <div class='row'>
      <div class='col-8'>
        <% if (realtor.phone) var phoneNumber = realtor.phone.toString().split('') %>
        <% if (realtor.address) var address = realtor.address.split(' ') %>
    
        <h1><%= realtor.name %></h1>
        <div class='row'>
          <div class='col realtor-img-box'>
              <img src="/uploads/<%= realtor.img %>"  
              class="img-fluid d-block mx-auto" 
              alt="<%= realtor.name %>">
          </div>
          <div class='col'>
            <ul>
              <% if (phoneNumber) { %>
                <li><i class="fas fa-phone"></i> <a href="tel:<%= realtor.phone %>">
                  (<%= phoneNumber[0]%><%=phoneNumber[1]%><%=phoneNumber[2]%>)
                  <%= phoneNumber[3]%><%= phoneNumber[4]%><%= phoneNumber[5]%> - 
                  <%= phoneNumber[6]%><%= phoneNumber[7]%><%= phoneNumber[8]%><%= phoneNumber[9]%>
                </a></li>
              <% } %>
              <li><i class="far fa-envelope"></i> <a href="mailto:<%= realtor.email %>"><%= realtor.email %></a></li>
              <% if (address) { %>
                <li><i class="far fa-building"></i> <a href="http://maps.google.com/maps?q=<%= address[0] %>+<%= address[1] %>+<%= address[2] %>"><%= realtor.address %></a></li>
              <% } %> 
            </ul>
            <div class="row">
              <h4 class="bio"><%= realtor.name %>'s Bio:</h4>
              <p class="realtor-bio"><%= realtor.bio %> </p>
            </div>
          </div>
        </div>
      </div>
  
      <div class='col-4'>
        <div class="row">
          <h4 class='col'><strong>NEWEST LISTINGS</strong></h4>
          <div class='col'>
            <% houses.forEach(house => { %>
              <div class="realtors-listings" onclick="location.href='/houses/<%= house._id %>'">
                <img class='img-fluid d-block mx-auto w-100'
                src="/uploads/<%= house.img %>" alt="house">
                <div class='row'>
                    <ul class='text-center'>
                      <li><%= house.address %></li>
                      <li> <% cities.forEach(city => { %>
                        <% if (house.city == city._id.toString()) { %>
                            <%= city.name %>
                        <% } %>
                    <% }) %></li>
                      <% const price = (house.price) %>
                      <%= '$' + price.toFixed(0) %>
                    </ul>
                </div>
              </div>
            <% }); %>
          </div>  
        </div>
      </div>
    </div>
    
  <div class="push"></div>
  </div>
<%- include('../partials/footer.ejs') %>
</body>
</html>