<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Houses for Sale</h1>
    <% listings.forEach(listing => { %>
        <img class="house-listing" src="<%= listing.img %>" alt="house-id#-<%=listing._id%>">
        <ul class="house-listing">
            <li><a href="/listings/<%=listing._id%>"><%= listing.address %></a></li>
            <li><%= listing.city %></li>
            <li><%= listing.price %> </li>
        </ul>
    <% }) %>
</body>
</html>