<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/header.ejs") %>
</head>
<body>
    <%- include('../partials/nav.ejs') %>

    <h1>Houses for Sale</h1>
    <% listings.forEach(listing => { %>
        <div class='house-display'>
            
            <a href='/houses/<%=listing._id%>'><img src='/uploads/<%= listing.img %>' 
                alt='house-id#-<%=listing._id%>'>
            </a>
                <span class='house-description'>    
                    <!-- <ul class='text-description'> -->
                        <a href='/houses/<%=listing._id%>'><%= listing.address %></a>
                        <a href='/houses/<%=listing._id%>'><%= listing.city %></a>
                        <% const price = (listing.price) %>
                        <%= '$' + price.toFixed(0) %>
                    <!-- </ul> -->
                </span>
            
        </div>
        <% }) %>
</body>
</html>