
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
</head>
<body>
  <%- include('../partials/nav.ejs') %>
  
  <% listings.forEach(listing => { %>
    <div class='house-display' onclick="location.href = '/houses/<%=listing._id%>'">
        
        <img src='/uploads/<%= listing.img %>' 
            alt='house-id#-<%=listing._id%>'>
            <span class='house-description'>    
                    <%= listing.address %>
                    <br>
                    <%= listing.city %>
                    <br>
                    <% const price = (listing.price) %>
                    <%= '$' + price.toFixed(0) %>
            </span>
        
    </div>
    <% }) %>
  
  <%- include('../partials/footer.ejs') %>
</body>
</html>