<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/header.ejs") %>
</head>
<body>
    <%- include('../partials/nav.ejs') %>

    <h1> <%=listing.address%> </h1>
    <h3> <%=listing.city %></h3>

    <h4> <%=listing.price %></h4>

    <img class="house-listing" src="/uploads/<%= listing.img %>" alt="house-id#-<%=listing._id%>">

    <ul>
        <li>Size: <%=listing.size%> </li>
        <li>Bedrooms: <%=listing.bedrooms%> </li>
        <li>Bathrooms: <%listing.bathrooms%> </li>
    </ul>
</body>
</html>